@model Models.ViewModels.ShowAllUserItemsViewModel



<div class="four column row itemRow @(Model.Read == false ? "yellow" : "")" id="@Model.UserItemId" data-item-read="@Model.Read">
    <div class="two wide column">
        <i class="big hide icon" data-item-id="@Model.UserItemId"></i>
        <a class="ui green label">@Model.RatingPlusCount</a>
        <i class="thumbs outline up icon" data-item-id="@Model.UserItemId" data-item-rate="@Model.RatingPlus"></i>
        <i class="thumbs outline down icon" data-item-id="@Model.UserItemId" data-item-rate="@Model.RatingMinus"></i>
        <a class="ui red label">@Model.RatingMinusCount</a>
    </div>
    <div class="five wide column">
        <a href="@Model.Url" target="_blank" data-item-id="@Model.UserItemId">@Model.Title</a>
    </div>
    <div class="six wide column">
        @Html.Raw(Model.Description)
    </div>
    <div class="three wide column">
        @Model.ItemAge
    </div>
</div>