@model Models.ViewModels.UserItemsViewModel

@{
    var isSimpleView = "";
    var isFullView = "";
    if (Model.Items[0].ViewDisplay.ViewType == "simple")
    {
        isSimpleView = " active";
    }
    else if (Model.Items[0].ViewDisplay.ViewType == "full")
    {
        isFullView = " active";
    }
}


<div class="two column row">
    <div class="four wide column">
        <div class="ui card">
            <div class="content">
                <div class="header">@Model.Title</div>
                <div class="meta">
                    <img src="@Model.ImageUrl" alt="image should be here!" />
                </div>
                <div class="description">
                    <p>@Model.Description</p>
                    <p>
                        <a href="@Model.Url" target="_blank">Link</a>
                    </p>
                    <p>@Html.ActionLink("Unsubscibe", "Delete", new { userChannelId = @Model.UserChannelId })</p>
                </div>
            </div>
            <div class="extra content">
                <div><a class="ui teal ribbon label">Readers</a>@Model.Readers</div>
                <div><a class="ui teal ribbon label">Posts</a>@Model.TotalPosts</div>
                <div><a class="ui teal ribbon label">Frequency</a>@Model.PostsPerDay posts/day</div>
                <div><a class="ui teal ribbon label">Last post</a>@Model.LastPost            
                </div>
            </div>
        </div>
    </div>
    <div class="two wide column">
        <div class="ui vertical buttons">
            @Html.ActionLink("Simple", "ShowUserItems", "RssReader",
                                      new { userChannelId = Model.UserChannelId, viewType = 1 },
                                    new { @class="ui button"+isSimpleView})
            @Html.ActionLink("Full", "ShowUserItems", "RssReader",
                                      new { userChannelId = Model.UserChannelId, viewType = 2 },
                                    new { @class = "ui button"+isFullView })
            @*<div class="ui button">
                Custom View
            </div>*@
        </div>
    </div>
</div>
