@model Models.ViewModels.UserItemsViewModel


<div class="two column row">
    <div class="four wide column">
        <div class="ui card">
            <div class="content">
                <div class="header">@Model.Title</div>
                <div class="meta">
                    <img src="@Model.ImageUrl" alt="image should be here!" />
                </div>
                <div class="description">
                    <p>@Model.Description</p>
                    <p>
                        <a href="@Model.Url" target="_blank">Link</a>
                    </p>
                    <p>@Html.ActionLink("Unsubscibe", "Delete", new { channelId = @Model.UserChannelId })</p>
                </div>
            </div>
            <div class="extra content">
                <div><a class="ui teal ribbon label">Readers</a>@Model.Readers</div>
                <div><a class="ui teal ribbon label">Posts</a>@Model.TotalPosts</div>
                <div><a class="ui teal ribbon label">Frequency</a>@Model.PostsPerDay posts/day</div>
                <div><a class="ui teal ribbon label">Last post</a>@Model.LastPost            
                </div>
            </div>
        </div>
    </div>
    <div class="two wide column">
        <div class="ui vertical labeled icon buttons">
            <div class="ui button">
                <i class="pause icon"></i>
                Pause
            </div>
            <div class="ui button">
                <i class="play icon"></i>
                Play
            </div>
            <div class="ui button">
                <i class="shuffle icon"></i>
                Shuffle
            </div>
        </div>
    </div>
</div>
