@model Models.RSS.Channel

@{
    ViewBag.Title = "AddRssChannel";
    Layout = "~/Views/Shared/_Layout_RSSreader.cshtml";
}

<h2>AddRssChannel</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "AddRssForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Channel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="ui negative message" hidden="hidden" id="wrongUrl">
                <i class="close icon"></i>
                <div class="header">
                    There is a problem with RSS Channel you wanna add.
                </div>
                <p>
                    It is not working or the url is incorrect, please type in new one.
                </p>
            </div>
            @Html.LabelFor(model => model.Url, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Url, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Url, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="createSubmit" type="submit" value="Create" class="ui button" />
                <button id="btnGoToChannel" class="ui animated button" type="button">
                    <div class="visible content">Go to channel</div>
                    <div class="hidden content">
                        <i class="right arrow icon"></i>
                    </div>
                </button>
            </div>
        </div>

    </div>
}
@section scripts
{
    <script src="~/Scripts/Attachers/AddRssChannel.js"></script>
    <script src="~/Scripts/Developer/AddChannel.js"></script>
}