@using Models.RSS
@model Models.RSS.ChannelList

@{
    ViewBag.Title = "RssReader";
    Layout = "~/Views/Shared/_Layout_Semantic.cshtml";

    //var newChannel = new Channel() { Link = "http://facet.wp.pl/rss.xml", Description = "first", Image = "none" };
    //Model.Channels.Add(newChannel);

}

<table class="ui celled striped table">
    <thead>
        <tr>
            <th>
                Channel Icon
            </th>
            <th>
                Channel List
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Channels)
        {
            <tr>
                <td>
                    @Html.ActionLink(
                    " ",
                    "RssListView",
                    "RssReader",
                    new { link = @item.Link },
                    new
                    {
                        style = "background: url('" + Url.Content(@item.Image) + "') no-repeat center right; display:block; height:84px; width:84px;"
                    }
)
                </td>
                <td>
                    @item.Link
                    <br />
                    @Html.ActionLink(@item.Description, "RssListView", "RssReader",
                        new { link = @item.Link },
                        new { })
                </td>

            </tr>

        }
    </tbody>
</table>

