@using Models.RSS
@model List<Models.RSS.Channel>

@{
    ViewBag.Title = "RssReader";
    Layout = "~/Views/Shared/_Layout_Semantic.cshtml";
}


@if (@Model != null)
{


    <a href="@Url.Action("RefreshChannelFeeds", "RssReader")">
        <i class="huge refresh icon"></i>
    </a>

    <div class="ui grid">
        @foreach (var item in Model)
        {

            <div class="four wide column center">
                <td>
                    @Html.ActionLink(
                        " ",
                        "RssListView",
                        "RssReader",
                        new { link = @item.Link },
                        new
                        {
                            style = "background: url('" + Url.Content(@item.Image) + "') no-repeat center right; display:block; height:84px; width:84px;"
                        }
                        )
                </td>
                <td>
                    @item.Title
                    <br />
                    @Html.ActionLink(@item.Description, "RssListView", "RssReader",
                        new { link = @item.Link },
                        new { })
                </td>
                <td>
                    <a href="@Url.Action("Delete", "RssReader", new {channelId = item.ChannelId})">
                        <i class="trash icon"></i>
                    </a>
                </td>

            </div>


        }
    </div>
    <br/>


    <table class="ui celled striped table">
        <thead>
        <tr>
            <th>
                Channel Icon
            </th>
            <th>
                Channel List
            </th>
            <th>
                Actions
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(" ", "RssListView", "RssReader", new {link = @item.Link}, new {style = "background: url('" + Url.Content(@item.Image) + "') no-repeat center right; display:block; height:84px; width:84px;"})
                </td>
                <td>
                    @item.Title
                    <br/>
                    @Html.ActionLink(@item.Description, "RssListView", "RssReader", new {link = @item.Link}, new {})
                </td>
                <td>
                    <a href="@Url.Action("Delete", "RssReader", new {channelId = item.ChannelId})"><i class="trash icon"></i></a>
                </td>

            </tr>

        }
        </tbody>
    </table>
}
