@using System.Text
@model System.Collections.Generic.IEnumerable<Models.RSS.Item>

@{
ViewBag.Title = "RssReader";
Layout = "~/Views/Shared/_Layout_Semantic.cshtml";
}

<h2>RssReader</h2>

<table class="ui celled striped table">
    <tr>
        <th>
            Title
        </th>
        <th>
            Description
        </th>
        <th>
            Link
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@item.Link" target="_blank">@item.Title</a>
            </td>
            <td>
                @System.Web.HttpUtility.HtmlDecode(item.Description)
            </td>
            <td>
                <a href="@item.Link" target="_blank">More</a>
            </td>
        </tr>
    }
</table>

<table class="ui celled striped table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Link
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td class="collapsing">
                <a href="@item.Link" target="_blank">@item.Title</a>
            </td>
            <td>@System.Web.HttpUtility.HtmlDecode(item.Description)</td>
            <td class="right aligned collapsing"><a href="@item.Link" target="_blank">More</a></td>
        </tr>        
    }
    </tbody>
</table>