@using PagedList.Mvc
@model PagedList.PagedList<Models.ViewModels.ShowAllUserItemsViewModel>

@{
    ViewBag.Title = "Show All User Items";
    Layout = "~/Views/Shared/_Layout_RSSreader.cshtml";
}




<div class="ui grid">



    <div class="one column row">
        <div id="Error" class="ui negative message" hidden="hidden">
            <i class="close icon"></i>
            <div class="header">
                We are experiencing some trouble processing your request
            </div>
            <p>
                Please try again.
            </p>
        </div>
    </div>
    <div class="two column row">
        <div class="six wide column">
            <div class="col-md-10">
                <div class="center">
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                    @Html.PagedListPager(Model, page => Url.Action("ShowAllUserItems", "RssReader", new { page }))
                </div>
            </div>
        </div>
        <div class="three wide column">
            @Html.ActionLink("Mark all items as read", "MarkAllItemsAsRead", "RssReader", null, new { @class = "ui button" })
        </div>
        <div class="three wide column">
        </div>
    </div>


    <div class="ui internally celled grid">

        <div class="five column orange row">
            <div class="two wide column">Actions</div>
            <div class="three wide column">Channel</div>
            <div class="four wide column">Title</div>
            <div class="four wide column">Description</div>
            <div class="three wide column">Time</div>
        </div>
        @foreach (var userItemViewModel in Model)
        {
            @Html.Partial("_AllUserItemsView", userItemViewModel)
        }
    </div>
</div>

@section scripts
    {
    <script src="~/Scripts/Developer/ratings.js"></script>
    <script src="~/Scripts/Attachers/showAllUserItems.js"></script>
    <script src="~/Scripts/Developer/PostIsReadFunctionalityOnShowAllItemsView.js"></script>

}

@section style
    {
    <link href="~/Content/PagedList.css" rel="stylesheet" />
}
