@using System.EnterpriseServices
@using System.Security.Cryptography.X509Certificates
@model List<Models.RSS.UserItem>

@{
ViewBag.Title = "RssReader";
Layout = "~/Views/Shared/_Layout_RSSreader.cshtml";
}

<div id="Error" class="ui negative message" hidden="hidden">
    <i class="close icon"></i>
    <div class="header">
        We are experiencing some trouble processing your request
    </div>
    <p>
        Please try again in few minites
    </p>
</div>
<table class="ui celled striped table">
    <thead>
        <tr>
            <th></th>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Link
            </th>
            <th>
                Publish Date
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="@item.Id">
                <td>
                    <i class="hide icon" data-item-id="@item.Id"></i>
                    <i class="thumbs outline up icon" data-item-id="@item.Id" data-item-rate="@item.RatingPlus"></i>
                    <i class="smile icon" data-item-rate="@item.RatingMinus"></i>
                    <i class="thumbs outline down icon" data-item-id="@item.Id" data-item-rate="@item.RatingMinus"></i>
                    <i class="frown icon" data-item-rate="@item.RatingPlus"></i>
                </td>
                <td class="collapsing">
                    <a href="@item.Item.Url" target="_blank" data-item-id="@item.Id">@item.Item.Title</a>
                </td>
                <td>@Html.Raw(item.Item.Description)</td>
                <td class="right aligned collapsing"><a href="@item.Item.Url" target="_blank">More</a></td>
                <td>@item.Item.PublishDate</td>
            </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script src="~/Scripts/Developer/isRead.js"></script>
    <script src="~/Scripts/Developer/ratings.js"></script>
    <script src="~/Scripts/Attachers/showUserItems.js"></script>

}