
@using PagedList.Mvc
@model PagedList.PagedList<Models.ViewModels.ShowAllUserItemsViewModel>

@{
    ViewBag.Title = "Show All User Items";
    Layout = "~/Views/Shared/_Layout_RSSreader.cshtml";
}

<div id="Error" class="ui negative message" hidden="hidden">
    <i class="close icon"></i>
    <div class="header">
        We are experiencing some trouble processing your request
    </div>
    <p>
        Please try again.
    </p>
</div>

<p>@Html.ActionLink("Mark all items as read", "MarkAllItemsAsRead", "RssReader", null, new { @class = "ui purple button" })</p>
<div class="col-md-10">
    <div class="center">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("ShowAllUserItems", "RssReader",
        new { page }))
    </div>
</div>

<table class="ui celled striped table">
    <thead>
        <tr>
            <th></th>
            <th>Channel</th>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Link
            </th>
            <th>
                Publication
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var userItemViewModel in Model)
        {
            @Html.Partial("_AllUserItemsView", userItemViewModel)
        }
    </tbody>
</table>

@section scripts
{
    <script src="~/Scripts/Developer/ratings.js"></script>
    <script src="~/Scripts/Attachers/showAllUserItems.js"></script>
    <script src="~/Scripts/Developer/PostIsReadFunctionalityOnShowAllItemsView.js"></script>

}

@section style
{
    <link href="~/Content/PagedList.css" rel="stylesheet" />
}