@using Models.ViewModels
@model List<ShowUserChannelsViewModel>

@{
    ViewBag.Title = "ShowUserChannels";
    Layout = null;
    var allItems = 0;
    var unreadItems = 0;
    foreach (ShowUserChannelsViewModel channelInfo in Model)
    {
        allItems += channelInfo.AllItemsCount;
        unreadItems += channelInfo.UnreadItemsCount;
    }
}


<div class="ui tiny animated selection list">

    <div class="item">
        <div class="content">
            <div class="header">
                <i class="wizard icon"></i> @Html.ActionLink("Add new RSS", "AddRssChannel", "RssReader")
            </div>
        </div>
    </div>
    <div class="item">
        <div class="content">
            <div class="header">
                @Html.ActionLink("Search", "Index", "Search")
            </div>
        </div>
    </div>
    <div class="item">
        <div class="content">
            <div class="header">
                <i class="refresh icon"></i>@Html.ActionLink("refresh all channels", "RefreshAllUserChannels", "RssReader")
            </div>
        </div>
    </div>
    <div class="item">
        <div class="content">
            <div class="header">
                @Html.ActionLink("Show All", "ShowAllUserItems", "RssReader")
                <div class=" ui red circular label">
            @allItems
            </div>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="content">
            <div class="header">
                @Html.ActionLink("Show All Unread", "ShowAllUnreadUserItems", "RssReader")
                <div class=" ui red circular label">
                    @unreadItems
                </div>
            </div>
        </div>
        </div>
    @foreach (var userChannel in Model)
    {
        @*<div class="item ">
      
                <a href="http://www.google.com" class="item">
                    Visit Google
                </a>

        </div>*@

            <div class="item ">
                <img class="ui avatar image" src="@userChannel.ImageUrl" />
                <div class="content  ">
                    <div class="header">
                        @Html.ActionLink(userChannel.Title, "ShowUserItems", "RssReader",
                             new { userChannelId = userChannel.UserChannelId },
                                    new { })
                    </div>
                </div>
                <div class=" ui green circular label">
                    @userChannel.UnreadItemsCount
                </div>
            </div>
            }
        </div>
