@using Models.RSS;

@model Channel

@{
    ViewBag.Title = "RssReader";
    Layout = "~/Views/Shared/_Layout_RSSreader.cshtml";

}

<div id="Error" class="ui negative message" hidden="hidden">
    <i class="close icon"></i>
    <div class="header">
        We are experiencing some trouble processing your request
    </div>
    <p>
        Please try again in few minites
    </p>
</div>
@Html.ActionLink("Add channel", "AddRssChannel", "RssReader",
                             new { url = Model.Url },
                                        new { @class = "ui button" })

<table class="ui celled striped table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Publish Date
            </th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model.Items)
        {
            <tr>
                <td class="left aligned collapsing"><a href="@item.Url" target="_blank">@item.Title</a></td>
                    
                <td>@Html.Raw(item.Description)</td>
                <td>
                    @item.PublishDate
                </td>
            </tr>
        }
    </tbody>
</table>

