@using Models.RSS
@model List<Models.ViewModels.UserHistoryViewModel>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout_RSSreader.cshtml";
}



<div class="ui grid">
    <div class="one column row">
        <div class="column">
            <div id="Error" class="ui negative message" hidden="hidden">
                <i class="close icon"></i>
                <div class="header">
                    We are experiencing some trouble processing your request
                </div>
                <p>
                    Please try again in few minites
                </p>
            </div>
        </div>
    </div>


</div>


<div class="ui grid">

    <div class="ui two column centered grid">
        <div class="column">
            <div class="ui large feed">
                @foreach (var x in Model)
                {
                    if (@x.HistoryActionName == HistoryAction.Read)
                    {
                        <div class="event">
                            <div class="label">
                                <img src="~/Content/Images/elliot.jpg">
                            </div>
                            @*<div class="label">

                                    <i class="add icon"></i>

                                </div>
                                <div class="label">

                                    <i class="feed icon"></i>
                                </div>*@
                            <div class="content">
                                <div class="summary">

                                    <a class="user">
                                        xxx
                                    </a> read a post @x.Item.Title
                                    <div class="date">
                                        @x.Date
                                    </div>

                                </div>
                                <div class="extra text">
                                    @x.Item.PublishDate
                                    <br />
                                    @x.Item.Url
                                    <br />
                                    @x.Item.Description
                                </div>
                            </div>
                        </div>
                    }

                    if (@x.HistoryActionName == HistoryAction.AddChannel)
                    {
                        <div class="event">
                            <div class="label">
                                <img src="~/Content/Images/elliot.jpg">

                            </div>
                            @*<div class="label">

                                    <i class="add icon"></i>

                                </div>
                                <div class="label">

                                    <i class="feed icon"></i>
                                </div>*@
                            <div class="content">
                                <div class="summary">

                                    <a class="user">
                                        xxx
                                    </a> add a channel <b>@x.Channel.Title</b>
                                    <div class="date">
                                        @x.Date
                                    </div>

                                </div>
                                <div class="extra text">



                                
                                <div class="ui items">
                                    <div class="item">
                                        <a class="ui tiny image">
                                            <img src=@x.Channel.ImageUrl>
                                        </a>
                                        <div class="content">
                                            <a class="header">@x.Channel.Title</a>
                                            <div class="description">
                                                <p>@x.Channel.Description</p>
                                                <a>View Channel - @x.Channel.Url</a>
                                                <p>Readers: @x.Channel.Readers</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    </div>

                             </div>
                        </div>
                    }

                    if (@x.HistoryActionName == HistoryAction.RemoveChannel)
                    {
                        <div class="event">
                            <div class="label">
                                <img src="~/Content/Images/joe.jpg">
                            </div>
                            @*<div class="label">

                                    <i class="remove icon"></i>

                                </div>
                                <div class="label">

                                    <i class="feed icon"></i>
                                </div>*@
                            <div class="content">
                                <div class="summary">

                                    <a class="user">
                                        xxx
                                    </a> remove a channel <b>@x.Channel.Title</b>
                                    <div class="date">
                                        @x.Date
                                    </div>

                                </div>
                                <div class="extra text">

                                    <div class="ui items">
                                        <div class="item">
                                            <a class="ui tiny image">
                                                <img src=@x.Channel.ImageUrl>
                                            </a>
                                            <div class="content">
                                                <a class="header">@x.Channel.Title</a>
                                                <div class="description">
                                                    <p>@x.Channel.Description</p>
                                                    <a>View Channel - @x.Channel.Url</a>
                                                    <p>Readers: @x.Channel.Readers</p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    if (@x.HistoryActionName == HistoryAction.AddSubscription)
                    {
                        <div class="event">
                            <div class="label">
                                <img src="~/Content/Images/jenny.jpg">
                            </div>
                            <div class="content">
                                <div class="summary">
                                    XXX added <a>@x.SubscriptionId</a> to <a>subscription</a> group.
                                    <div class="date">
                                        @x.Date
                                    </div>
                                </div>
                            </div>
                        </div>


                        
                    }

                    if (@x.HistoryActionName == HistoryAction.RemoveSubscription)
                    {
                        <div class="event">
                            <div class="label">
                                <img src="~/Content/Images/jenny.jpg">
                            </div>
                            @*<div class="label">

                                    <i class="remove icon"></i>

                                </div>
                                <div class="label">

                                    <i class="user icon"></i>
                                </div>*@
                            <div class="content">
                                <div class="summary">

                                    <a class="user">
                                        xxx
                                    </a> remove a subscription
                                    <div class="date">
                                        @x.Date
                                    </div>

                                </div>
                                <div class="extra text">
                                    Vivamus dictum, urna nec semper bibendum, leo ante vulputate nunc, placerat pellentesque est ante semper lacus.
                                    Sed vulputate, lorem a feugiat pharetra, nisi ante sagittis justo, in elementum massa urna id leo. Praesent at sem aliquet,
                                    lobortis augue ac, facilisis tortor. In congue leo nec urna feugiat commodo.
                                    <b>this is news ID - @x.UserItemId</b>
                                </div>
                            </div>
                        </div>
                    }

                    if (@x.HistoryActionName == HistoryAction.RatingPlus)
                    {
                        <div class="event">
                            <div class="label">

                                <img src="~/Content/Images/jenny.jpg">

                            </div>
                            @*<div class="label">
                                    <i class="thumbs outline up icon"></i>
                                </div>

                                <div class="label">

                                    <i class="browser icon"></i>
                                </div>*@
                            <div class="content">
                                <div class="summary">

                                    <a class="user">
                                        xxx
                                    </a> like a post @x.Item.Title
                                    <div class="date">
                                        @x.Date
                                    </div>

                                </div>
                                    <div class="extra text">
                                        @x.Item.PublishDate
                                        <br />
                                        @x.Item.Url
                                        <br />
                                        @x.Item.Description
                                    </div>
                            </div>
                        </div>
                    }

                    if (@x.HistoryActionName == HistoryAction.RatingMinus)
                    {
                        <div class="event">
                            <div class="label">

                                <img src="~/Content/Images/jenny.jpg">

                            </div>
                            @*<div class="label">
                                    <i class="thumbs outline down icon"></i>
                                </div>

                                <div class="large label">

                                    <i class="browser icon"></i>
                                </div>*@
                            <div class="content">
                                <div class="summary">

                                    <a class="user">
                                        xxx
                                    </a> does not like a post @x.Item.Title
                                    <div class="date">
                                        @x.Date
                                    </div>

                                </div>
                                    <div class="extra text">
                                        @x.Item.PublishDate
                                        <br />
                                        @x.Item.Url
                                        <br />
                                        @x.Item.Description
                                    </div>
                            </div>
                        </div>
                    }

                }
            </div>
        </div>

    </div>

</div>
