@using Models.User
@using Models.ViewModels
@model List<ShowUserChannelsViewModel>

@{
    ViewBag.Title = "ShowUserChannels";
    Layout = null;
    var allItems = 0;
    var unreadItems = 0;
    foreach (ShowUserChannelsViewModel channelInfo in Model)
    {
        allItems += channelInfo.AllItemsCount;
        unreadItems += channelInfo.UnreadItemsCount;
    }
}


<div class="ui tiny animated selection list">
    @*<div class="item">
        <div class="content">
            <div class="header">
                <i class="plus icon"></i>@Html.ActionLink("Search", "Index", "Search")
            </div>
        </div>
    </div>
    <div class="item">
        <div class="content">
            <div class="header">
                <i class="refresh icon"></i>@Html.ActionLink("refresh all channels", "RefreshAllUserChannels", "RssReader")
            </div>
        </div>
    </div>*@
    <div class="item">
        <div class="content">
            <div class="header">
                <i class="large archive icon"></i>
                @Html.ActionLink("Show All News", "ShowAllUserItems", "RssReader")
                <div class=" ui red circular label">
                    @allItems
                </div>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="content">
            <div class="header">
                <i class="large feed icon"></i>
                @Html.ActionLink("Show All Unread News", "ShowAllUnreadUserItems", "RssReader")
                <div class=" ui red circular label">
                    @unreadItems
                </div>
            </div>
        </div>
    </div>
    @foreach (var userChannel in Model)
    {
        <div class="item">
            <img class="ui avatar image" src="@userChannel.ImageUrl" />
            <div class="content">
                <div class="header">
                    @Html.ActionLink(userChannel.Title, "ShowUserItems", "RssReader",
                      new { userChannelId = userChannel.UserChannelId, viewType = UserViewType.Full },
                                    new { })
                    <div class=" ui red circular label">
                        @userChannel.UnreadItemsCount
                    </div>
                </div>
            </div>
        </div>
    }
</div>
