@model List<Models.RSS.UserItem>

@{
ViewBag.Title = "RssReader";
Layout = "~/Views/Shared/_Layout_RSSreader.cshtml";
}

<div id="Error" class="ui negative message" hidden="hidden">
    <i class="close icon"></i>
    <div class="header">
        We are experiencing some trouble processing your request
    </div>
    <p>
        Please try again in few minites
    </p>
</div>
<table class="ui celled striped table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Link
            </th>
            <th>
                Publish Date
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="collapsing">
                    <a href="@item.Item.Url" target="_blank">@item.Item.Title</a>
                    <i class="hide icon" id="@item.Id"></i>
                    <i class="pointing up icon" id="@item.Id"></i>
                    <i class="pointing down icon" id="@item.Id"></i>
                </td>
                <td>@Html.Raw(item.Item.Description)</td>
                <td class="right aligned collapsing"><a href="@item.Item.Url" target="_blank">More</a></td>
                <td>@item.Item.PublishDate</td>
            </tr>
        }
    </tbody>
</table>

