@using Models.RSS;

@model Channel

@{
    ViewBag.Title = "RssReader";
    Layout = "~/Views/Shared/_Layout_RSSreader.cshtml";

}

<div id="Error" class="ui negative message" hidden="hidden">
    <i class="close icon"></i>
    <div class="header">
        We are experiencing some trouble processing your request
    </div>
    <p>
        Please try again in few minites
    </p>
</div>
@Html.ActionLink("Add channel", "AddRssChannel", "RssReader",
                             new { url = Model.Url },
                                        new { @class = "ui button" })

<table class="ui celled striped table">
    <thead>
        <tr>
            <th></th>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Link
            </th>
            <th>
            </th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    <a class="ui green label">@item.RatingPlus</a>
                    <a class="ui red label">@item.RatingMinus</a>
                </td>

                <td>
                    @item.Title
                </td>
                <td>@Html.Raw(item.Description)</td>
                <td class="right aligned collapsing"><a href="@item.Url" target="_blank">More</a></td>
                <td>
                    @item.PublishDate
                </td>
            </tr>
        }
    </tbody>
</table>



@section scripts
{
    
    <script src="~/Scripts/Developer/PostIsReadFunctionality.js"></script>
    <script src="~/Scripts/Developer/ratings.js"></script>
    <script src="~/Scripts/Attachers/showUserItems.js"></script>

}