@using System.Web.Mvc.Html
@model Models.ViewModels.UserItemsViewModel

@{
    ViewBag.Title = "RssReader";
    Layout = "~/Views/Shared/_Layout_RSSreader.cshtml";

}

<div id="Error" class="ui negative message" hidden="hidden">
    <i class="close icon"></i>
    <div class="header">
        We are experiencing some trouble processing your request
    </div>
    <p>
        Please try again in few minites
    </p>
</div>


    @Html.Partial("_ChannelCard", Model)
<br/>
@Html.ActionLink("Mark all items as read", "MarkAllChannelItemsAsRead", "RssReader", new { userChannelId = @ViewBag.UserChannelId }, new { @class = "ui button" })
@Html.ActionLink("refresh news", "RefreshChannelItems", "RssReader", new { userChannelId = @Model.UserChannelId, channelId = @Model.ChannelId, channelUrl = @Model.Url}, new{ @class="ui button" })


<br/><br/>
        <div class="ui toggle checkbox">
            <input type="checkbox" id="unreadOrAll">
            <label>show all (already read including)</label>
        </div>


<table class="ui celled striped table">
    <thead>
    <tr>
        <th></th>
        <th>
            Title
        </th>
        <th>
            Description
        </th>
        <th>
            Link
        </th>
        <th>
        </th>
    </tr>
    </thead>

    <tbody>
    <tr></tr>
    @foreach (var item in Model.Items)
    {
        @Html.Partial("_UserItem", item)
    }
    </tbody>
</table>

@section scripts
{
    
    <script src="~/Scripts/Developer/PostIsReadFunctionality.js"></script>
    <script src="~/Scripts/Developer/ratings.js"></script>
    <script src="~/Scripts/Attachers/showUserItems.js"></script>

}