@model List<Models.RSS.UserItem>

@{
    ViewBag.Title = "RssReader";
    Layout = "~/Views/Shared/_Layout_RSSreader.cshtml";

}

<div id="Error" class="ui negative message" hidden="hidden">
    <i class="close icon"></i>
    <div class="header">
        We are experiencing some trouble processing your request
    </div>
    <p>
        Please try again in few minites
    </p>
</div>



    @Html.Action("ViewChannelInfo", "RssReader", new { userChannelId = @ViewBag.UserChannelId })
<br/>
    @Html.ActionLink("Mark all items as read", "MarkAllChannelItemsAsRead", "RssReader", new { userChannelId = @ViewBag.UserChannelId }, null)
<br />

@Html.ActionLink("refresh news", "RefreshChannelItems", "RssReader", new { userChannelId = @ViewBag.UserChannelId, currentChannelId = @ViewBag.channelId, channelUrl = @ViewBag.Url}, null)


<br/><br/>
        <div class="ui toggle checkbox">
            <input type="checkbox" id="unreadOrAll">
            <label>show read</label>
        </div>


<table class="ui celled striped table">
    <thead>
    <tr>
        <th></th>
        <th>
            Title
        </th>
        <th>
            Description
        </th>
        <th>
            Link
        </th>
        <th>
            Publish Date
        </th>
    </tr>
    </thead>

    <tbody>
    <tr></tr>
    @foreach (var userItem in Model)
    {
        <tr id="@userItem.Id" data-item-read="@userItem.Read">
            

            <td>
                <p>
                    <div class="ui slider checkbox">
                        <input type="checkbox" data-item-id="@userItem.Id">
                        <label>Keep unread</label>
                    </div>
                </p>
                <i class="hide icon" data-item-id="@userItem.Id"></i>
                <a class="ui green label">@userItem.Item.RatingPlus</a>
                <i class="thumbs outline up icon" data-item-id="@userItem.Id" data-item-rate="@userItem.RatingPlus"></i>
                <i class="smile icon" data-item-rate="@userItem.RatingMinus"></i>
                <i class="thumbs outline down icon" data-item-id="@userItem.Id" data-item-rate="@userItem.RatingMinus"></i>
                <i class="frown icon" data-item-rate="@userItem.RatingPlus"></i>
                <a class="ui red label">@userItem.Item.RatingMinus</a>
            </td>
            <td class="collapsing">
                <a href="@userItem.Item.Url" target="_blank" data-item-id="@userItem.Id">@userItem.Item.Title</a>
            </td>
            <td>@Html.Raw(userItem.Item.Description)</td>
            <td class="right aligned collapsing"><a href="@userItem.Item.Url" target="_blank">More</a></td>
            <td>@userItem.Item.PublishDate</td>


        </tr>
    }
    </tbody>
</table>

@section scripts
{
    <script src="~/Scripts/Developer/isRead.js"></script>
    <script src="~/Scripts/Developer/ratings.js"></script>
    <script src="~/Scripts/Attachers/showUserItems.js"></script>

}