@model List<Models.RSS.UserChannel>

@{
    ViewBag.Title = "SHowUserChannels";
    Layout = null;

    var allItems = 0;
    var notReaded = 0;
    foreach (var x in Model)
    {
        allItems += x.UserItems.Count(item => item.ApplicationUserId == x.ApplicationUserId);
        notReaded += x.UserItems.Count(foo => foo.ApplicationUserId == x.ApplicationUserId && foo.Read == false);
    }
}


<div class="ui tiny animated selection list">

    <div class="item">
        <div class="content">
            <div class="header">
                @Html.ActionLink("Add new RSS", "AddRssChannel", "RssReader")
            </div>
        </div>
    </div>
    <div class="item">
        <div class="content">
            <div class="header">
                @Html.ActionLink("refresh all channels", "RefreshAllUserChannels", "RssReader")
            </div>
        </div>
    </div>
    <div class="item">
        <div class="content">
            <div class="header">
                @Html.ActionLink("All news", "ShowAllUserItems", "RssReader")

                <div class=" ui red circular label">
            @allItems
            </div>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="content">
            <div class="header">
                @Html.ActionLink("All unread news", "ShowAllUnreadUserItems", "RssReader")
                <div class=" ui red circular label">
                    @notReaded
                </div>
            </div>
        </div>
        </div>
    @foreach (var item in Model)
    {
        <div class="link item">
            <img class="ui avatar image" src="@item.Channel.ImageUrl" />
            <div class="content">
                <div class="header">
                    @Html.ActionLink(@item.Channel.Title, "ShowUserItems", "RssReader",
                                    new { userChannelId = @item.Id, channelId = @item.ChannelId, url = @item.Channel.Url },
                                    new { })
                </div>
            </div>
            <div class=" ui green circular label">
                @item.UserItems.Where(x => x.UserChannelId == item.Id && x.ApplicationUserId == item.ApplicationUserId).Count(x => x.Read == false)
            </div>
        </div>
    }
</div>
