@model List<Models.RSS.UserItem>

@{
    ViewBag.Title = "RssReader";
    Layout = "~/Views/Shared/_Layout_RSSreader.cshtml";

}

<div id="Error" class="ui negative message" hidden="hidden">
    <i class="close icon"></i>
    <div class="header">
        We are experiencing some trouble processing your request
    </div>
    <p>
        Please try again in few minites
    </p>
</div>



    @Html.Action("ViewChannelInfo", "RssReader", new { userChannelId = @ViewBag.UserChannelId })
    @Html.ActionLink("Mark all items as read", "MarkAllChannelItemsAsRead", "RssReader", new { userChannelId = @ViewBag.UserChannelId }, null)
<br/><br/>
        <div class="ui toggle checkbox">
            <input type="checkbox" id="unreadOrAll">
            <label>show read</label>
        </div>


<table class="ui celled striped table">
    <thead>
    <tr>
        <th></th>
        <th>
            Title
        </th>
        <th>
            Description
        </th>
        <th>
            Link
        </th>
        <th>
            Publish Date
        </th>
    </tr>
    </thead>

    <tbody>
    <tr></tr>
    @foreach (var x in Model)
    {
        <tr id="@x.Id" data-item-read="@x.Read">
            

            <td>
                <div class="ui slider checkbox">
                    <input type="checkbox" data-item-id="@x.Id">
                    <label>Keep unread</label>
                </div>
                <i class="hide icon" data-item-id="@x.Id"></i>
                <a class="ui green label">@x.Item.RatingPlus</a>
                <i class="thumbs outline up icon" data-item-id="@x.Id" data-item-rate="@x.RatingPlus"></i>
                <i class="smile icon" data-item-rate="@x.RatingMinus"></i>
                <a class="ui red label">@x.Item.RatingMinus</a>
                <i class="thumbs outline down icon" data-item-id="@x.Id" data-item-rate="@x.RatingMinus"></i>
                <i class="frown icon" data-item-rate="@x.RatingPlus"></i>
            </td>
            <td class="collapsing">
                <a href="@x.Item.Url" target="_blank" data-item-id="@x.Id">@x.Item.Title</a>
            </td>
            <td>@Html.Raw(x.Item.Description)</td>
            <td class="right aligned collapsing"><a href="@x.Item.Url" target="_blank">More</a></td>
            <td>@x.Item.PublishDate</td>


        </tr>
    }
    </tbody>
</table>

@section scripts
{
    <script src="~/Scripts/Developer/isRead.js"></script>
    <script src="~/Scripts/Developer/ratings.js"></script>
    <script src="~/Scripts/Attachers/showUserItems.js"></script>

}