@model List<Models.RSS.UserItem>

@{
    ViewBag.Title = "RssReader";
    Layout = "~/Views/Shared/_Layout_RSSreader.cshtml";

}

<div id="Error" class="ui negative message" hidden="hidden">
    <i class="close icon"></i>
    <div class="header">
        We are experiencing some trouble processing your request
    </div>
    <p>
        Please try again in few minites
    </p>
</div>



    @Html.Action("ViewChannelInfo", "RssReader", new { userChannelId = @ViewBag.UserChannelId })
<br/>
    @Html.ActionLink("Mark all items as read", "MarkAllChannelItemsAsRead", "RssReader", new { userChannelId = @ViewBag.UserChannelId }, null)
<br />

@Html.ActionLink("refresh news", "RefreshChannelItems", "RssReader", new { userChannelId = @ViewBag.UserChannelId, channelId = @ViewBag.ChannelId, channelUrl = @ViewBag.Url}, null)


<br/><br/>
        <div class="ui toggle checkbox">
            <input type="checkbox" id="unreadOrAll">
            <label>show read</label>
        </div>


<table class="ui celled striped table">
    <thead>
    <tr>
        <th></th>
        <th>
            Title
        </th>
        <th>
            Description
        </th>
        <th>
            Link
        </th>
        <th>
            Publish Date
        </th>
    </tr>
    </thead>

    <tbody>
    <tr></tr>
    @foreach (var userItem in Model)
    {
        @Html.Partial("_UserItem", userItem)
    }
    </tbody>
</table>

@section scripts
{
    <script src="~/Scripts/Developer/isRead.js"></script>
    <script src="~/Scripts/Developer/ratings.js"></script>
    <script src="~/Scripts/Attachers/showUserItems.js"></script>

}