@using Models.ViewModels;

@model IEnumerable<SearchChannel>

@{
    ViewBag.Title = "AddRssChannel";
    Layout = "~/Views/Shared/_Layout_RSSreader.cshtml";

}

<h2>Search!</h2>

<p>
    @using (Html.BeginForm())
    {
    <p>
        Title: @Html.TextBox("searchString") <br />
        <input type="submit" value="Search" />
    </p>
    }
    </p>


<br />

@try
{

        <table class="ui celled striped table">
            <thead>
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Readers
                    </th>
                    <th>
                        Action
                    </th>
                    <th>
                        rating
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model)
                {
                    <tr>
                        <td>
                            @x.Title
                        </td>
                        <td>@Html.Raw(x.Description)</td>
                        <td>@x.Readers</td>
                        <td>
                           @Html.ActionLink("Add channel", "AddRssChannel", "RssReader",
                             new { url = x.Url },
                                    new { })
                            @Html.ActionLink("Show news", "ShowChannelItems", "RssReader",
                             new { channelId = x.Id },
                                    new { })
                        </td>
                        <td>@x.Rating</td>
                    </tr>
                }
            </tbody>
        </table>

}
catch (NullReferenceException nullex)
{
}


@section scripts
{
    <script src="~/Scripts/Attachers/AddRssChannel.js"></script>
    <script src="~/Scripts/Developer/AddChannel.js"></script>
}