@using Models.ViewModels;

@model List<Microsoft.AspNet.Identity.EntityFramework.IdentityUser>

@{
    Layout = null;
}


<div class="ui grid">
    <div class="one column row">
        <div class="column">
            <div id="Error" class="ui negative message" hidden="hidden">
                <i class="close icon"></i>
                <div class="header">
                    We are experiencing some trouble processing your request
                </div>
                <p>
                    Please try again in few minites
                </p>
            </div>
        </div>
    </div>


</div>
<div class="ui internally celled grid">
    <div class="four column orange row">
        <div class="three wide column">Id</div>
        <div class="two wide column">UserName</div>
        <div class="two wide column">Email</div>
        <div class="nine wide column">Action</div>
    </div>

    @foreach (var user in Model)
        {



        <div class="four column row itemRow">
            <div class="three wide column">
                @user.Id
            </div>
            <div class="two wide column">
                @user.UserName


            </div>
            <div class="two wide column">
                @user.Email


            </div>
            <div class="nine wide column">
                @Html.ActionLink("Subscribe user", "AddUserSubscription", "RssReader",
                              new { subscriptionId = user.Id, subscriptionEmail = user.Email },
                                     new { @class = "ui icon button" })

                @Html.ActionLink("Show user page", "ShowUserSubscriptionPage", "RssReader",
               new { subscriptionId = user.Id },
                                     new { @class = "ui icon button" })


            </div>
        </div>


        }
</div>

@section scripts
    {
    <script src="~/Scripts/Developer/PostIsReadFunctionality.js"></script>
    <script src="~/Scripts/Developer/ratings.js"></script>
    <script src="~/Scripts/Attachers/showUserItems.js"></script>

}

@section style
{
    <link href="~/Content/PagedList.css" rel="stylesheet" />
}



