@using Models.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_Layout_Semantic.cshtml";

}

<!DOCTYPE html>
<html>
<head>

    <title>The Facebook-Twitter-Google-Login Website Template | Home :: w3layouts</title>
    <link href="~/Content/loginPageStyle.css" rel="stylesheet" type="text/css" media="all" />
    <link href='https://fonts.googleapis.com/css?family=Rokkitt' rel='stylesheet' type='text/css'>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="~/Content/semantic.css">
    <script>
        $(document).ready(function () {

            $('.button')
              .popup({
                  inline: true,
                  variation: 'inverted'
              })
            ;

            $('.modal-show').on('click', function () {
                $($(this).attr('data-target')).modal('show');
            });
        });
    </script>

</head>


<body>


    <a class="modal-show" data-target="#myModal"> Click</a>

    <div class="ui modal" id="myModal">
        <i class="close icon"></i>
        <div class="header">
            Modal Title
        </div>
        <div class="content">


        </div>
    </div>


    <div class="wrap">
        @*<div class="circle"></div>*@

        <!-- strat-contact-form -->
        <div class="contact-form">

            <!-- start-form -->
            <div class=" contact_form">
                <h1>Login Into Your Account</h1>
                <h5>Use a local account to log in or @Html.ActionLink("Register as a new user", "Register", "Account")</h5>

                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.TextBoxFor(m => m.Email, new { @class = "ui large input", @placeholder = "E-mail", @style = "width:360px;height:45px" })
                    @Html.PasswordFor(m => m.Password, new { @class = "ui large input", @placeholder = "Password", style = "width:360px;height:45px" })
                    <input type="submit" value="Log in" class="ui green massive button" style="width:360px;height:62px" />
                }


            </div>





            <!-- end-form -->
            <div class="ui vertical divider"><b>OR</b></div>

            <!-- start-account -->
            <div class="account">
                <h1>Don't have an account? Sign Up!</h1>
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </div>
            <!-- end-account -->
            <div class="clear"></div>
        </div>
        <!-- end-contact-form -->
    </div>
</body>
</html>