@using Models.RSS
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/semantic")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/semantic")
</head>


<body>
    <header class="column"><div class="ui segment">HEADER</div></header>
    <div class="ui sixteen column grid">
        <div class="column"></div>

        <div class="sixteen column row">
            <div class="four wide column">
                <div class="ui segment">
                    <p>MENU</p>


                    <p>@Html.ActionLink("My RSS Channels", "ChannelList", "RssReader")</p>
                    <p>@Html.ActionLink("Add new RSS", "AddRssChannel", "RssReader")</p>

                    @{ Html.RenderAction("Channels", "RssReader"); }


                </div>
            </div>
            <div class="twelve wide column">
                <div class="ui segment">
                    @*<p>BODY</p>*@
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>